# C
AlignEscapedNewlines: Right
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignConsecutiveStructMembers: true
AlignConsecutiveMacros: true
AlignAfterOpenBracket: true
AlignOperands: true
SpaceAfterLogicalNot: false
ReflowComments: false
PenaltyBreakString: 250
PenaltyBreakComment: 150
IndentWrappedFunctionNames: false
PointerAlignment: Right
DerivePointerAlignment: false
AlignTrailingComments: false
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowDesignatedInitializersOnASingleLine: false
AlwaysBreakAfterReturnType: None
PenaltyReturnTypeOnItsOwnLine: 20
PenaltyBreakAssignment: 100
PenaltyExcessCharacter: 100
PenaltyBreakBeforeFirstCallParameter: 100
PenaltyBreakMemberAccess: 250
PenaltyBreakLastMemberAccess: 300
PenaltyIndentedWhitespace: 0
ColumnLimit: 80
AlwaysBreakBeforeMultilineStrings: false
BinPackArguments: true
BinPackParameters: true
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: true
  AfterClass: false
  AfterControlStatement: false
  AfterEnum: false
  AfterFunction: true
  AfterNamespace: false
  AfterObjCDeclaration: false
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: false
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
BreakBeforeBinaryOperators: false
BreakBeforeTernaryOperators: true
BreakStringLiterals: true
ContinuationIndentWidth: 4
IncludeBlocks: Regroup
IndentCaseLabels: false
IndentWidth: 4
KeepEmptyLinesAtTheStartOfBlocks: false
IndentPPDirectives: None
MaxEmptyLinesToKeep: 2
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpaceInEmptyParentheses: false
SpaceBeforeParens: ControlStatementsExceptForEachMacros
SpaceBeforeAssignmentOperators: true
SpaceAfterCStyleCast: false
SortIncludes: false
ForEachMacros: ['ucc_list_for_each_safe',
                'ucc_list_for_each',
                'ucc_for_each_bit',
                'ucc_queue_for_each',
                'ucc_queue_for_each_safe',
                'ucc_queue_for_each_extract',
                'ForEach',
                'kh_foreach',
                'kh_foreach_key',
                'kh_foreach_value']
StatementMacros : []
TypenameMacros: []
WhitespaceSensitiveMacros: []

# CPP
Standard: Cpp11
AccessModifierOffset: -4
AlwaysBreakTemplateDeclarations: false
BreakBeforeInheritanceComma: false
BreakInheritanceList: AfterColon
BreakConstructorInitializers: AfterColon
CompactNamespaces: false
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 4
Cpp11BracedListStyle: true
Cpp11BracedListLineBreak: true
FixNamespaceComments: true
NamespaceIndentation: None
UseTab: Never
ReflowComments: false
SortIncludes: false
IncludeCategories:
 - Regex: '^"'
   Priority: 1
 - Regex: '^<'
   Priority: 2
SortUsingDeclarations: true
TabWidth: 4
SpacesInAngles: false
SpacesBeforeTrailingComments: 1
SpaceAfterTemplateKeyword: false
SpacesInContainerLiterals: false
---
# Java
Language: Java
DisableFormat: true
